<!DOCTYPE html>
<html>
<head>
  <title>Casum</title>
  <%= stylesheet_link_tag    "casum/application", media: "all" %>
  <%= javascript_include_tag "casum/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
